<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:vertical-align="http://www.w3.org/1999/xhtml"> <!-- css -->
<head>
    <title>Javarush CRUD</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>All books</h1>

<table border="1">
    <tr>
        <td>Id</td>
        <td>Title</td>
        <td>Description</td>
        <td>Autor</td>
        <td>isbn</td>
        <td>Yaer printed</td>
        <td>Read already</td>
        <td>Mark read</td>
        <td>Update</td>
        <td>Delete</td>
    </tr>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}"/>
        <td th:text="${book.title}"/>
        <td th:text="${book.description}"/>
        <td th:text="${book.author}"/>
        <td th:text="${book.isbn}"/>
        <td th:text="${book.printyear}"/>
        <td th:text="${book.readalready}"/>
        <td>
            <a th:href = "@{/markread(id=${book.id}, page=${page})}">read</a>
        </td>
        <td>
            <a th:href = "@{/updateform(id=${book.id}, page=${page})}">update</a>
        </td>
        <td>
            <a th:href = "@{/delete(id=${book.id}, page=${page})}">delete</a>
        </td>
    </tr>
</table>

<table>
    <tr>
        <td>Page <span th:text="${page}"></span> of <span th:text="${maxPages}"></span></td>
        <td></td>
    </tr>
    <tr>
        <td>
            <a th:href = "@{/all(page=${page}-1)}">Prev</a>
            <a th:href = "@{/all(page=${page}+1)}">Next</a>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>Go to page:</td>
        <td>
            <form action="/all" method="get">
                <input type="text" name="page" />
                <input type="submit" value="Submit" />
            </form>
        </td>
    </tr>
</table>

<table>
        <tr>
            <td>
                <h2>Add new book</h2>
                <form action="#" th:action="@{/add}" th:object="${newbook}" method="post">
                    <p>Title: <input type="text" th:field="*{title}" /></p>
                    <p>Desc: <input type="text" th:field="*{description}" /></p>
                    <p>Author: <input type="text" th:field="*{author}" /></p>
                    <p>Isbn: <input type="text" th:field="*{isbn}" /></p>
                    <p>printYear: <input type="text" th:field="*{printyear}" /></p>
                    <input type="text" th:field="*{readalready}" hidden />

                    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
                </form>
            </td>
            <td width="30"></td>
            <td>
                <h2>Search</h2>
                <form action="/search" method="post">
                    <p>Title: <input type="text" name="stitle" /></p>
                    <p>Desc: <input type="text" name="sdescription" /></p>
                    <p>Author: <input type="text" name="sauthor" /></p>
                    <p>Isbn: <input type="text" name="sisbn" /></p>
                    <p>printYear from: <input type="text" name="syearfrom" /></p>
                    <p>printYear to: <input type="text" name="syearto" /></p>
                    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
                </form>
            </td>
        </tr>
</table>
</body>
</html>