<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>That stuff was loaded from a Database!!!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<table border="1">
    <tr>
        <td>Id</td>
        <td>Title</td>
        <td>Description</td>
        <td>Autor</td>
        <td>isbn</td>
        <td>Yaer printed</td>
        <td>Read already</td>
        <td>Mark read</td>
        <td>Update</td>
        <td>Delete</td>
    </tr>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}"/>
        <td th:text="${book.title}"/>
        <td th:text="${book.description}"/>
        <td th:text="${book.author}"/>
        <td th:text="${book.isbn}"/>
        <td th:text="${book.printyear}"/>
        <td th:text="${book.readalready}"/>
        <td>
            <a th:href = "@{/markread(id=${book.id})}">read</a>
        </td>
        <td>
            <a th:href = "@{/updateform(id=${book.id})}">update</a>
        </td>
        <td>
            <a th:href = "@{/delete(id=${book.id})}">delete</a>
        </td>
    </tr>
</table>

<!---------------------------------------->
<!-- Error here -->

<h1>Form</h1>
<form action="#" th:action="@{/add}" th:object="${newbook}" method="post">

    <!-- <p>Id: <input type="text" th:field="*{id}" /></p>  readonly disabled    -->

<!--
    <input type="text" th:field="*{id}" hidden />
-->
    <p>Title: <input type="text" th:field="*{title}" /></p>
    <p>Desc: <input type="text" th:field="*{description}" /></p>
    <p>Author: <input type="text" th:field="*{author}" /></p>    <!-- readonly if update, 1 more model param
        <input type="text" th:field="*{author}" hidden /> -->

    <p>Isbn: <input type="text" th:field="*{isbn}" /></p>
    <p>printYear: <input type="text" th:field="*{printyear}" /></p>
    <input type="text" th:field="*{readalready}" hidden />    <!-- might be a checkbox -->

    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>


<!-------------------------------------------------------->


<!--
<h1>Form</h1>
<form action="#" th:action="@{/dbcheck}" th:object="${record}" method="post">

    <p>Id: <input type="text" th:field="*{id}" readonly disabled /></p>
    <p>Name: <input type="text" th:field="*{name}" /></p>
    <p>Age: <input type="text" th:field="*{age}" /></p>
    <p>Profession: <input type="text" th:field="*{profession}" /></p>

    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
-->


</body>
</html>