<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Javarush CRUD: Update</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h2>You are intending to update the following book</h2>
<table border="1">
    <tr>
        <td>Id</td>
        <td>Title</td>
        <td>Description</td>
        <td>Autor</td>
        <td>isbn</td>
        <td>Yaer printed</td>
        <td>Read already</td>
    </tr>
        <td th:text="${book.id}"/>
        <td th:text="${book.title}"/>
        <td th:text="${book.description}"/>
        <td th:text="${book.author}"/>
        <td th:text="${book.isbn}"/>
        <td th:text="${book.printyear}"/>
        <td th:text="${book.readalready}"/>
    </tr>
</table>

<h2>Please enter new data</h2>
<form action="#" th:action="@{/processupdate}" th:object="${book}" method="post">

    <p>Id: <input type="text" th:field="*{id}" disabled /></p> <!-- readonly disabled -->
    <input type="text" th:field="*{id}" hidden />
    <p>Title: <input type="text" th:field="*{title}" /></p>
    <p>Desc: <input type="text" th:field="*{description}" /></p>
    <p>Author: <input type="text" th:field="*{author}" disabled /></p>    <!-- readonly if update, 1 more model param -->
    <input type="text" th:field="*{author}" hidden />
    <p>Isbn: <input type="text" th:field="*{isbn}" /></p>
    <p>printYear: <input type="text" th:field="*{printyear}" /></p>
    <input type="text" th:field="*{readalready}" hidden />    <!-- invisible field, marking book NOT read -->

    <!-- <p>readAlready: <input type="text" th:field="*{readAlready}" /></p>     might be a checkbox -->

    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>

</body>
</html>